@charset "UTF-8";
/* CSS Document */

html
{
	margin: 0 0 0 0;
	height:100%;
	background: url(mushrooms.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html,body
{
	margin: 0 0 0 0;
	height:100%;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 15px;
	color:#FFF;
}

.main
{
	float:none;
	width: 800px;
	margin:auto;
 	clear:none;
}

#header
{
	text-align:left;
	font-family:'Krona One';
  text-shadow:0 1px 0 #ccc, 
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);
	font-size: 60px;
 	margin-top:25px;
 	margin-bottom:10px;
}

#footer
{
	text-align:center;
	font-size: 12px;
}

.navigation
{
	height: 36px;
}

#tb_search
{
	padding: 5px;
	font-size: 18px;
	color: #FFF;
	background-color:#000;
	border:#AB2B52 2px solid;
	width: 80%;
}

#button_nav, #button
{
	font-family: Kreon;
	font-weight: 300;
	font-size: 12px;
	float:left;
	text-align:center;
 	padding:10px 15px;
	background-color: rgba( 0, 0, 0, 0.75 );
	letter-spacing: 1px;
}
#button
{
	background-color:
}

#button_nav:hover
{
	background-color:#AB2B52;
	cursor:pointer;
}

#content, #footer{
	margin-top:5px;
	background-color: rgba( 0, 0, 0, 0.75 );
 	padding: 25px;
}

h1
{
	font-family: Kreon;
	font-size:24px;
}